body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #F0BF3B;
  transition: color 0.2s ease-in-out;
}

.navbar {
  overflow: hidden;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

#logo {
  height: 3rem;
  padding: 1rem 1rem 1rem 2rem;
}

.menu {
  padding: 1rem;
}

.menu-item {
  padding: 0 1rem 0 1rem;
  color: black;
}

.intro {
  display: flex;
  align-items: center;
}

#intro-img {
  max-width: 100vh;
  min-height: 100vh;
}

#intro-text {
  margin: 2rem 3rem 2rem 3rem;
  max-width: 700px;
}

.about {
  display: flex;
  justify-content: center;
  background-color: #FFEDBD;
}

#about-text {
  margin: 5rem;
  width: 80vw;
  text-align: center;
}

.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 1rem 2.5rem;
  background-color: #FFD86F;
}

.categories {
  margin: 5rem;
  text-align: center;
}

.bakery {
  display: flex;
  justify-content: center;
}

.bakery_item {
  margin: 2rem;
}

.category_img {
  width: 10rem;
  height: auto;
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery_img {
  margin: 0.5vh;
}

#img_1 {
  height: 40vh;
}

.section_2_1 {
  display: flex;
}

#img_2 {
  height: 21.3vh;
}

#img_3, #img_4 {
  height: 17.3vh;
}

#img_5 {
  height: 40vh;
}