body {
  margin: 0;
  font-family: 'Commissioner', sans-serif;
  background-color: #FFFCF4;
}

h1 {
  font-size: 3rem;
  font-family: 'Sofia', cursive;
}

h2 {
  font-size: 2rem;
  font-family: 'Sofia', cursive;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Sofia', cursive;
}

a {
  text-decoration: none;
}

.subheading {
  color: #80775E;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: #F0BF3B;
  transition: color 0.2s ease-in-out;
}

.navbar {
  overflow: hidden;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

#logo {
  height: 3rem;
  padding: 1rem 1rem 1rem 2rem;
}

.menu {
  padding: 1rem;
}

#dropdown_icon, #dropdown_menu {
  display: none;
}

#dropdown_icon:hover {
  cursor: pointer;
}

.menu-item {
  padding: 0 1rem 0 1rem;
  color: black;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  background-image:url(EdgarsHomeBanner-2.jpg);
  background-position:50% 50%;
  background-size:cover;
}

#intro-text {
  color: white;
  margin: 1rem 3rem 1rem 3rem;
  max-width: 700px;
}

.about {
  display: flex;
  justify-content: center;
  background-color: #FFEDBD;
}

#about-text {
  margin: 3rem;
  width: 80vw;
  text-align: center;
}

.button {
  display: flex;
  font-family: 'Commissioner', sans-serif;
  border: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 10rem;
  height: 3rem;
  background-color: #FFD86F;
}

.button:hover {
  cursor: pointer;
  background-color: #FFE8AC;
  transition: background-color 0.2s ease-in-out;
}

.button:active {
  background-color: #F0BF3B;
}

.categories {
  margin: 3rem 2rem 3rem 2rem;
  text-align: center;
}

.bakery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bakery_label {
  background-color: #FFFCF4;
}

.bakery_item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.bakery_img {
  margin: 0 0 1rem 0;
  width: 10rem;
  height: auto;
}

.bakery_img:hover {
  cursor: pointer
}

.latest {
  background-color: #FFEDBD;
  padding: 3rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 2rem 3rem 2rem;
}

.overlay_container {
  position: relative;
}

.gallery_img {
  margin: 0.5rem;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  margin: 0.5rem;
  transition: .3s ease;
  opacity: 0;
  position: absolute;
  bottom: 0;
}

.text {
  color: white;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: rgb(128, 108, 56, 0.9);
}

.overlay_container:hover .gallery_img {
  cursor: pointer;
}

.overlay_container:hover .overlay {
  cursor: pointer;
  opacity: 1;
}

#img_1 {
  height: 20rem;
}

.section_2 {
  display: flex;
  margin: 0;
}

.section_2_1 {
  display: flex;
  flex-direction: column;
}

.section_2_2 {
  display: flex;
}

#img_2 {
  height: 10.5rem;
}

#img_3, #img_4 {
  height: 8.1rem;
}

#img_5 {
  height: 20rem;
}

.grid {
  display: flex;
}

.section_heading {
  text-align: center;
}

.locations {
  padding: 3rem 1rem 3rem 1rem;
  background-color: #FFD86F;
}

.location {
  margin: 1rem;
  padding: 1rem;
  background-color: #FFFCF4;
  width: 14rem;
}

.location:hover {
  cursor: pointer;
}

#colonnade_pin, #pelham_pin, #greystone_pin, #tuscaloosa_pin, #financial_center_pin, #huntsville_pin, #patton_creek_pin, #trussville_pin {
  display: inline;
  margin: 0 0.5rem 0 0;
  color: black;
}

#colonnade:hover #colonnade_pin {
  color: #806C38;
  transition: color 0.2s ease;
}

#pelham:hover #pelham_pin {
  color: #806C38;
  transition: color 0.2s ease;
}

#greystone:hover #greystone_pin {
  color: #806C38;
  transition: color 0.2s ease;
}

#tuscaloosa:hover #tuscaloosa_pin {
  color: #806C38;
  transition: color 0.2s ease;
}

#financial_center:hover #financial_center_pin {
  color: #806C38;
  transition: color 0.2s ease;
}

#huntsville:hover #huntsville_pin {
  color: #806C38;
  transition: color 0.2s ease;
}

#patton_creek:hover #patton_creek_pin {
  color: #806C38;
  transition: color 0.2s ease;
}

#trussville:hover #trussville_pin {
  color: #806C38;
  transition: color 0.2s ease;
}

.location_heading{
  display: flex;
  align-items: center;
}

.location_text {
  margin: 0 0 0 2rem;
}

.pin {
  margin: 0 1rem 0 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer {
  color: white;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 3rem 2rem 3rem;
  background-color: #80775E;
  justify-content: space-between;
}
.footer_icon {
  margin: 1rem 0.5rem 0 0;
}

.footer_left, .footer_right, .footer_row {
  display: flex;
}

#footer_logo {
  min-width: 4rem;
  max-height: 4rem;
  margin: 1rem 2rem 0 0;
}

.footer_col {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem 0 1rem;
}

.icon {
  margin: 1rem;
}

.icon:hover {
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  #img_1 {
    width: 18rem;
    height: auto;
  }
  
  #img_2 {
    width: 18rem;
    height: auto;
  }
  
  #img_3 {
    width: 8rem;
    height: auto;
  }

  #img_4 {
    width: 9rem;
    height: auto;
  }
  
  #img_5 {
    width: 18rem;
    height: auto;
  }

  .section_2 {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  #dropdown_icon {
    margin: 0 2rem 0 0;
    color: black;
    display: block;
  }

  #dropdown_menu {
    flex-direction: column;
    margin: 4rem 0 0 0;
    padding: 1rem 0 0 0;
    background-color: rgb(255, 255, 255, 0.95);
    position: fixed;
    top: 0;
    z-index: 10;
    height: 17rem;
    width: 100vw;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  }

  .dropdown_item {
    color: black;
    text-decoration: none;
    margin: 1rem;
  }

  #dropdown_icons {
    display: flex;
    justify-content: center;
  }

  .footer {
    justify-content: center;
  }
}